.blog {
    padding: 10px;
}

#heading { /*id*/

}

.heading { /*class*/

}

article { /*element*/
    padding: 0%;
}

/*profile.html*/
.icon{
    width: 42px;
    height: 42px;
    border:0;
}

.profile-picture{
    width: 350px;
    height: 350px;
    border:0;
}