<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <th:block th:insert ="base :: header"></th:block>
    <title>About the Bootcamp</title>
</head>

<body>
<div class="container-fluid">
    <nav th:replace="base :: nav "></nav>
</div>

<div class="container">
    <div id="blog" class="jumbotron lead">
        <h1 align="center">About the Java Bootcamp </h1>
        <br>
        <br>
        <p>This program takes you from writing your first Java class to developing a complete website. This guide
        contains lessons that will give you a jump start on your career. Detailed instructions enable you to
        successfully complete the many problems. You'll get immediate feedback as you check them against supplied
        solutions. Programming challenges will keep you engaged, interested and on your toes.</p>

        <p>You will develop skills creating applications using the MVC pattern. You’ll use a templating engine
            (Thymeleaf). You’ll connect to a MySQL database using an ORM, and learn how to write applications that can
            connect to other databases such as PostgreSQL and Oracle. </p>

        <p>And you’ll learn best practices from the experiences of others.</p>

        <p>Upon the completion of the bootcamp, you will receive a voucher for one free exam of the AWS Certified
            Developer - Associate (Links to an external site.)Links to an external site.'s certification. We will NOT
            cover materials on this certification during this 8-10 week bootcamp. This is offered as an incentive for
            your completion.</p>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>