<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="base::header"></div>
    <title>annotation</title>

</head>
<body>
<div th:replace="base::nav"></div>

<div class="container">
    <h3>@Autowired</h3>

    <h3>@Controller</h3>

    <h3>@Entity</h3>

    <h3>@Id</h3>

    <h3>@GeneratedValue(selectedValue = )</h3>

    <h3>@RequestMapping(“/pageName”)</h3>

    <h3>@GetMapping(“/pageName”)</h3>

    <h3>@PostMapping(“/pageName”)</h3>

    <h3>@ParamVariable(“variable”)</h3>

    <h3>@RequestParam(“variable”)</h3>

    <h3>@ModelAttribute ("object")</h3>

    <h3>@Min(x)</h3>

    <h3>@Max(x)</h3>

    <h3 >@NotNull</h3>

    <h3>@Size(min = xx, max = xx)</h3>

    <h3>@Valid</h3>

    <h3>@SpringBootApplication</h3>

</div>

<div th:replace="base::footer"></div>

</body>
</html>

