<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="base::header"></div>
    <title>annotation</title>

</head>
<h3 id="autowired">@Autowired</h3>

<h3 id="controller">@Controller</h3>

<h3 id="entity">@Entity</h3>

<h3 id="id">@Id</h3>

<h3 id="generatedvalueselectedvalue">@GeneratedValue(selectedValue = )</h3>

<h3 id="requestmappingpagename">@RequestMapping(“/pageName”)</h3>

<h3 id="getmappingpagename">@GetMapping(“/pageName”)</h3>

<h3 id="postmappingpagename">@PostMapping(“/pageName”)</h3>

<h3 id="paramvariablevariable">@ParamVariable(“variable”)</h3>

<h3 id="requestparamvariable">@RequestParam(“variable”)</h3>

<h3 id="modelattributeobject">@ModelAttribute ("object")</h3>

<h3 id="minx">@Min(x)</h3>

<h3 id="maxx">@Max(x)</h3>

<h3 id="notnull">@NotNull</h3>

<h3 id="sizeminxxmaxxx">@Size(min = xx, max = xx)</h3>

<h3 id="valid">@Valid</h3>

<h3 id="springbootapplication">@SpringBootApplication</h3>
<body>
<div th:replace="base::nav"></div>
<div th:replace="base::footer"></div>
</body>
</html>