
<article>
    <div>
        <div class="container">
            <div id ="blog" class="jumbotron lead">
                <h1 id ="heading">Using Git</h1>
                <p id="date">28 Jul 2017</p>
                <p>Polymorphism means "many forms", and it occurs when we have many classes that are related to each other by inheritance. <a href="#">View More</a></p>
            </div>
        </div>
    </div>
</article>


<style>
    .blog-date{
        font-style: italic;
    }
    .heading{

    }


    }
</style>