<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/styling.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Felipa" rel="stylesheet">

    <title>Home</title>

</head>

<body>

<div class="container-fluid">
    <nav class="navbar-expand-lg bg-dark navbar-dark">
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse"
                type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About the Bootcamp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Blog Authors</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<br/>
<div class="container">
    <h2 id="heading">Blog Home</h2>
    <br/>

    <div class="alert alert-secondary" role="alert">
        <h2 class="heading">Using Git</h2>
        <p class="blog-date">28 Jul 2017</p>
        There are two components to using Git. A server for offsite sharing of your files and a client to work
        with locally. <a href="/github1">View More</a>
    </div>

    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading">Publishing You Repository</h2>
        <p class="blog-date">28 Jul 2017</p>
        <p>A repository is a storage space where you can access your project, its files, and all the versions of its files that
            Git saves. <a href="/github2">View More</a></p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading">Program Design</h2>
        <p class="blog-date">28 Jul 2017</p>
        <p>Polymorphism means "many forms", and it occurs when we have many classes that are related to each other by
            inheritance. <a href="/pda1">View More</a></p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading">Pseudocode & Algorithm</h2>
        <p class="blog-date">28 Jul 2017</p>
        <p>Polymorphism means "many forms", and it occurs when we have many classes that are related to each other by
            inheritance. <a href="/pda2">View More</a></p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading">Naming Convention</h2>
        <p class="blog-date">28 Jul 2017</p>
        <p>Polymorphism means "many forms", and it occurs when we have many classes that are related to each other by
            inheritance.<a href="/corejava1">View More</a></p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading"></h2>
        <p class="blog-date"></p>
        <p>.<a href="/corejava2">View More</a></p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading">Polymorphism</h2>
        <p class="blog-date">28 Jul 2017</p>
        <p>Polymorphism is the ability of an object to take on many forms. The most common use of polymorphism in OOP
            occurs when a parent class reference is used to refer to a child class object..<a href="/oop1">View More</a></p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading"></h2>
        <p class="blog-date"></p>
        <p>.<a href="/oop2">View More</a></p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading"></h2>
        <p class="blog-date"></p>
        <p>.<a href="/htmlcssbootstrap1">View More</a></p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading"></h2>
        <p class="blog-date"></p>
        <p>.<a href="/htmlcssbootstrap2">View More</a></p>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>