<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <th:block th:insert="base :: header"></th:block>
    <title>Home</title>
</head>

<body background="/img/bgimage.jpg">
<div class="container-fluid">
    <nav th:replace="base :: nav "></nav>
</div>
<br/>
<div class="container">
    <h2 id="heading">Blog Home</h2>
    <br/>

    <div class="alert alert-secondary" role="alert">
        <h2 class="heading">Using Git</h2>
        <p class="blog-date">28 Jul 2018</p>
        There are two components to using Git. A server for offsite sharing of your files and a client to work
        with locally. <a href="/github1">View More</a>
    </div>

    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading">Publishing You Repository</h2>
        <p class="blog-date">15 Aug 2018</p>
        <p>A repository is a storage space where you can access your project, its files, and all the versions of its
            files that
            Git saves. <a href="/github2">View More</a></p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading">Program Design</h2>
        <p class="blog-date">2 Sep 2018</p>
        <p><q>The hardest single part of building a software system is deciding precisely what to build.</q> —Fred
            Brooks <a href="/pda1">View More</a></p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading">Pseudocode & Algorithm</h2>
        <p class="blog-date">28 Sep 2018</p>
        <p>An algorithm represents the ordered sequence of steps required to solve a problem. Following the steps will
            always result in the solution. <a href="/pda2">View More</a></p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading">Naming Convention</h2>
        <p class="blog-date">01 Oct 2018</p>
        <p>To design a solution algorithm, the programmer has to create variables and objects. To this, they need unique
            names for those variables and objects.<a href="/corejava1">View More</a></p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading">Your first Java program</h2>
        <p class="blog-date">25 Feb 2018</p>
        <p><q>A journey of a thousand miles begins with a single step.</q> - Laozi.<a href="/corejava2">View More</a>
        </p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading">Polymorphism</h2>
        <p class="blog-date">28 Feb 2018</p>
        <p>Polymorphism is the ability of an object to take on many forms. The most common use of polymorphism in OOP
            occurs when a parent class reference is used to refer to a child class object..<a href="/oop1">View More</a>
        </p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading">Apache Maven Project</h2>
        <p class="blog-date">19 Feb 2019</p>
        <p>Maven, a Yiddish word meaning <i>accumulator of knowledge</i>, was originally started as an attempt to
            simplify
            the build processes in the Jakarta Turbine project.<a href="/oop2">View More</a></p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading">HTML Elements, Attributes and Whitespace</h2>
        <p class="blog-date">24 Feb 2019</p>
        <p>HTML (Hypertext Markup Language) is not a programming language; it is a <i>markup</i> language used to tell
            your browser how to structure the web pages you visit..<a href="/htmlcssbootstrap1">View More</a></p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading">Understand the CSS Box model</h2>
        <p class="blog-date">1/10/2019</p>
        <p>every element in web design is a rectangular box.<a href="/htmlcssbootstrap2">View More</a></p>
    </div>
    <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading">Housing.gov</h2>
        <p class="blog-date">2/10/2019</p>
        <p>Creating a Web-based housing portal with Bootstrap, Django, and Java.<a href="/housing">View More</a></p>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>