<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Housing.gov Portal</title>
</head>
<body>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTfPcI2LTn3BUMNFIsr5W64skqklDO_GgrPeifp-iyaCPUWUznUy6ShK1D2IaL5XrXnqpyiqzC9Dvim/embed?start=false&loop=true&delayms=5000" frameborder="0" width="1440" height="929" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</body>
</html>