<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Housing</title>
</head>
<body>
<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <th:block th:insert="base :: header"></th:block>
    <title>Housing.gov</title>
</head>

<body>
<div class="container-fluid">
    <nav th:replace="base :: nav "></nav>
</div>
<br/>
<div class="container">
    <iframe allowfullscreen="true" frameborder="0" height="800" mozallowfullscreen="true"
            src="https://docs.google.com/presentation/d/e/2PACX-1vTfPcI2LTn3BUMNFIsr5W64skqklDO_GgrPeifp-iyaCPUWUznUy6ShK1D2IaL5XrXnqpyiqzC9Dvim/embed?start=false&loop=true&delayms=5000"
            webkitallowfullscreen="true" width="1200"></iframe>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>