<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/styling.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Felipa" rel="stylesheet">

    <title>Program Design</title>

</head>

<body>
<div class="container-fluid">
    <nav class="navbar-expand-lg bg-dark navbar-dark">
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse"
                type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About the Bootcamp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Blog Authors</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<br/>
<div class="container">
    <h2>Program Design</h2>
    <p>
        <q>"The hardest single part of building a software system is deciding precisely what to build."</q> —Fred
            Brooks
    </p>

    <p>When writing a program you need to begin with a solid understanding of the problem you intend to solve. Then,
        move on to understanding the data you will be using in your solution. Your program will use data in variables,
        constants and literals. Your program will also contain data structures, files and data validation.</p>

    <h3>Overview: Developing software solutions</h3>
    <p>Requirements and design phase:</p>
    <ul>
        <li>Define the problem to be solved.</li>
        <li>Outline your solution on paper.</li>
        <li>Develop the outline into an algorithm.</li>
        <li>Test the algorithm for correctness.</li>
        <li>Document your solution.</li>
    </ul>

    <p>Implementation and verification phase:</p>
    <ul>
        <li>Code the algorithm into a specific programming language.</li>
        <li>Run the program on the computer.</li>
        <li>Test your program, make corrections.</li>
        <li>Repeat.</li>
    </ul>

    <p>Maintenance phase:</p>
    <ul>
        <li>Document and maintain the program.</li>
    </ul>

    <h3>Three different approaches to program design:</h3>
    <ul>
        <li>Procedural-driven
            <ul>
                <li>Example: C, Fortran, Basic</li>
            </ul>
        </li>
        <li>object-oriented / event-driven
            <ul>
                <li>Example: Java, C#</li>
            </ul>
        </li>
        <li>data-driven program design (called symbolic programming)
            <ul>
                <li>Example: LISP</li>
            </ul>
        </li>
    </ul>

    <h3>Top-down development</h3>
    <p>Top-down development is an approach to software development. The designer formulates an overview of the problem.
        The designer then determines the necessary subsystems or components required to solve the problem. Each
        component is further refined in greater detail. At some point a solution emerges. Top-down development
        emphasizes planning.</p>

    <h3>Algorithm</h3>
    <p>An algorithm is a set of detailed, unambiguous and ordered instructions. An algorithm illustrates steps to
        convert given input into the desired output.</p>

    <h3>Pseudocode</h3>
    <p>Pseudocode is an English language-like way of representing the algorithm</p>

    <p>Advantages of Pseudocode
        <br/>
        Conventions for Pseudocode</p>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>