<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


    <!-- Bootstrap CSS, Fonts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/styling.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Felipa" rel="stylesheet">

    <title>About the Author</title>

</head>
<body>
<div class="container-fluid">
    <nav class="navbar-expand-lg bg-dark navbar-dark">
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse"
                type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About the Bootcamp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Blog Authors</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">

    <div align="center">
        <h1>Meet the blog Authors</h1>
        <br/>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img class="profile-picture" alt="Tolani S. Oyefule" src="https://res.cloudinary.com/mhussainshah1/image/upload/v1550870732/blog/tolanio.jpg" >
            <br>
            <h2>Tolani S. Oyefule</h2>
            <br>
            <p>Healthcare Information Specialist</p>
            <img class="icon" src="https://res.cloudinary.com/mhussainshah1/image/upload/v1550870732/blog/facebook.png" alt="facebook"><a href="https://www.facebook.com/tolani.oyefule">https://www.facebook.com/tolani.oyefule</a>
            <br>
            <img class="icon" src="https://res.cloudinary.com/mhussainshah1/image/upload/v1550870732/blog/linkedin.png" alt="linkedin"><a href="https://www.linkedin.com/in/toyefule">https://www.linkedin.com/toyefule</a>
            <br>
            <img class="icon" src="https://res.cloudinary.com/mhussainshah1/image/upload/v1550870732/blog/github.png" alt="github"><a href="https://github.com/toyefule">https://https://github.com/toyefule</a>
            <br>
            <img class="icon" src="https://res.cloudinary.com/mhussainshah1/image/upload/v1550870732/blog/twitter.png" alt="twitter"><a
                href="https://www.twitter.com/toyefule">@toyefule</a>
        </div>
        <div class="col-sm-6">
            <img class="profile-picture" alt="Muhammad Shah" title="Muhammad Shah" src="https://res.cloudinary.com/mhussainshah1/image/upload/v1550870732/blog/shah.jpg" >
            <br>
            <h2>Muhammad A. Shah</h2>
            <br>
            <p>Oracle Certified Associate Java SE 8 programmer</p>
            <img class="icon" src="https://res.cloudinary.com/mhussainshah1/image/upload/v1550870732/blog/facebook.png" alt="facebook"><a href="https://www.facebook.com/mhussainshah1">https://www.facebook.com/amirhshah20</a>
            <br>
            <img class="icon" src="https://res.cloudinary.com/mhussainshah1/image/upload/v1550870732/blog/linkedin.png" alt="linkedin"><a href="https://www.linkedin.com/in/mhussainshah1">https://www.linkedin.com/mhussainshah1</a>
            <br>
            <img class="icon" src="https://res.cloudinary.com/mhussainshah1/image/upload/v1550870732/blog/github.png" alt="github"><a href="https://github.com/mhussainshah1">https://https://github.com/mhussainshah1</a>
            <br>
            <img class="icon" src="https://res.cloudinary.com/mhussainshah1/image/upload/v1550870732/blog/twitter.png" alt="twitter"><a href="https://www.twitter.com/amir__shah">@Amir__Shah</a>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>